@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* ××××× Color variables ××××× */
:root {
   --primary-bg: #0d1b2a;
   --secondary-bg: #1b263b;
   --accent: #415a77;
   --primary-text: #ffffff;
   --secondary-text: #c0c0c0;
   --highlight: #00e7c9;
}

/* ××××× Layout styling ××××× */
body {
   font-family: "Roboto", sans-serif;
   line-height: 1.6;
   text-align: justify;
   background-color: var(--primary-bg);
   color: var(--primary-text);
}

h1,
h2,
h3,
h4 {
   font-family: "Montserrat", sans-serif;
}

p {
   color: var(--secondary-text);
}

.btn {
   color: var(--highlight);
   background-color: var(--secondary-bg);
   border: none;
}

.highlight {
   color: var(--highlight);
}

.container-fluid {
   height: 100vh;
   width: 100%;
   margin: auto;
}

.fixed-column {
   width: 50%;
   height: 100%;
   position: fixed;
   display: flex;
   padding-left: 3rem;
}

.scrollable-column {
   width: 50%;
   height: 100%;
   padding: 5rem 0 0 3rem;
   float: right;
   overflow-y: auto;
   scrollbar-width: none;
}

/* ××××× Fixed content styling ××××× */
#fixed-content {
   width: 45rem;
   margin: auto;
   padding: 1.5rem;
   border-radius: 10px;
}

#fixed-img img {
   width: 10rem;
   margin-bottom: 1rem;
   border-radius: 50%;
   object-fit: cover;
}

#fixed-text {
   margin-bottom: 2rem;
}

#fixed-button {
   float: right;
   margin-top: 1rem;
}

#fixed-button a {
   height: 3rem;
   width: 10rem;
   padding-top: 0.75rem;
   -webkit-box-shadow: 0px 0px 20px 0px rgba(65, 90, 119, 1);
   -moz-box-shadow: 0px 0px 20px 0px rgba(65, 90, 119, 1);
   box-shadow: 0px 0px 20px 0px rgba(65, 90, 119, 1);
   cursor: pointer;
   transition: all 0.3s ease;
}

#fixed-button a:hover {
   background-color: var(--highlight);
   color: var(--secondary-bg);
   border-radius: 50px;
}

/* ××××× Scrollable content styling ××××× */
.scrollable-content-blocks {
   width: 35rem;
   margin-left: 5rem;
   margin-bottom: 5rem;
   background-color: var(--secondary-bg);
   border-radius: 10px;
   -webkit-box-shadow: 0px 0px 20px 0px rgba(65, 90, 119, 1);
   -moz-box-shadow: 0px 0px 20px 0px rgba(65, 90, 119, 1);
   box-shadow: 0px 0px 20px 0px rgba(65, 90, 119, 1);
}

.scrollable-content-blocks h2 {
   border-bottom: var(--accent) solid 3px;
}

.scrollable-content-blocks h4 {
   width: 100%;
   padding: 0.5rem 0;
}

#primary-skills-container,
#secondary-skills-container {
   margin: 2rem 0;
   padding: 0 2rem;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-evenly;
   align-content: space-evenly;
   gap: 2rem 1.5rem;
}

.skill-logo-container {
   height: 5rem;
   width: fit-content;
   padding: 1rem;
   display: flex;
   justify-content: center;
   background-color: var(--secondary-bg);
   border-radius: 10px;
   -webkit-box-shadow: 0px 0px 8px 6px rgba(65, 90, 119, 1);
   -moz-box-shadow: 0px 0px 8px 6px rgba(65, 90, 119, 1);
   box-shadow: 0px 0px 8px 6px rgba(65, 90, 119, 1);
   transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-logo-container:hover {
   transform: translateY(-5px);
   -webkit-box-shadow: 0px 0px 16px 12px rgba(65, 90, 119, 1);
   -moz-box-shadow: 0px 0px 16px 12px rgba(65, 90, 119, 1);
   box-shadow: 0px 0px 16px 12px rgba(65, 90, 119, 1);
}

#skill-logos {
   height: 3rem;
}

.double-img-container {
   width: fit-content;
   display: flex;
}

.double-img {
   margin-right: 1rem;
}

/* ××××× Media queries ××××× */
@media only screen and (max-width: 1400px) {
   .scrollable-content-blocks {
      width: 25rem;
      margin: 3rem auto;
   }
   .skill-logo-container {
      height: 4rem;
   }
   #skill-logos {
      height: 2rem;
   }
}

@media only screen and (max-width: 1070px) {
   .scrollable-content-blocks {
      width: 20rem;
   }
}

@media only screen and (max-width: 920px) {
   .container-fluid {
      display: flex;
      flex-direction: column;
   }
   .fixed-column {
      height: auto;
      width: 100%;
      margin-top: 2rem;
      padding: 0 2rem;
      position: unset;
   }
   .scrollable-column {
      width: 75%;
      margin: auto;
      padding: 0;
      overflow-y: unset;
   }
   .scrollable-content-blocks {
      width: 100%;
      margin: 3rem auto;
   }
}

@media only screen and (max-width: 600px) {
   #fixed-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
      float: unset;
   }
   #fixed-button a {
      margin: 0 1rem;
   }
}
