@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* 
   vörös: #FF4136
   piros: #FA7470
   fekete: #111111
   kék: #729BFB
   zöld: #2E8B57
*/

/* ##### Global Styles ##### */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Roboto", sans-serif;
   line-height: 1.6;
   background-color: #f0f0f0;
   color: #dedede;
}

a {
   font-size: 16px;
   text-decoration: none;
   letter-spacing: 1px;
}

p {
   font-size: 18px;
   letter-spacing: 0.5px;
}

h1 {
   font-family: "Montserrat", sans-serif;
   font-size: 48px;
   line-height: 1.2;
}

h2 {
   font-family: "Montserrat", sans-serif;
   font-size: 36px;
   line-height: 1.2;
}

/* ##### Navbar Styles ##### */

#navbar {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   height: 4rem;
   background-color: #263131;
}

#navbar h2 {
   display: flex;
   align-items: center;
   margin-left: 1rem;
   margin-bottom: 0;
}

#navbar #nav-menu-list {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 0;
   margin-right: 2rem;
   width: 25rem;
   list-style: none;
   font-weight: bold;
   font-size: 18px;
}

#navbar #nav-menu-list li a {
   padding: 0.8rem;
   border-radius: 50px;
   color: #dedede;
   transition: all ease 0.2s;
}

#navbar #nav-menu-list li a:hover {
   background-color: #e3b394;
   color: #181f1f;
}

/* Style the hamburger menu */
#navbar #hamburger {
   display: none;
}

#navbar a.icon {
   background: black;
   display: block;
   position: absolute;
   right: 0;
   top: 0;
}

@media (max-width: 768px) {
   #navbar #nav-menu-list {
      display: none;
   }
   #navbar #hamburger {
      display: block;
   }
}

/* ##### About Section Styles ##### */

.container {
   margin: 4rem 0;
   overflow: hidden;
}

.container #about-section {
   position: relative;
   height: 51rem;
   left: 6.5rem;
}
.container #about-section #about-img {
   position: absolute;
   background-color: #9d9d9d;
   height: 51rem;
   overflow: hidden;
   padding-left: 3rem;
}
.container #about-section #about-img img {
   height: 50rem;
   margin-top: 1rem;
}
.container #about-section #about-text {
   position: absolute;
   border-radius: 50px;
   height: 51rem;
   width: 76.5rem;
   left: 30rem;
   background-color: #263131;
   padding: 0 5rem;
}

.container #about-section #about-text h1 {
   margin-top: 10rem;
   margin-bottom: 3rem;
   padding: 1rem 0 1rem 0.5rem;
   color: #263131;
   background: linear-gradient(
      90deg,
      rgba(227, 179, 148, 1) 0%,
      rgba(127, 110, 96, 1) 30%,
      rgba(38, 49, 49, 1) 100%
   );
}
.container #about-section #about-text p {
   text-align: justify;
   width: 50rem;
   margin: auto;
   margin-bottom: 0.5rem;
}
.container #about-section #about-text #social-links {
   margin-top: 12rem;
   color: #263131;
   background: linear-gradient(
      90deg,
      rgba(38, 49, 49, 1) 0%,
      rgba(127, 110, 96, 1) 70%,
      rgba(227, 179, 148, 1) 100%
   );
}
.container #about-section #about-text #social-links ul {
   list-style: none;
   bottom: 4rem;
   right: 3rem;
   padding: 1rem;
   text-align: right;
}

.container #about-section #about-text #social-links ul li a i {
   color: #263131;
}
