@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* 
   vörös: #FF4136
   piros: #FA7470
   fekete: #111111
   kék: #729BFB
   zöld: #2E8B57
*/

/* ##### Global Styles ##### */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Roboto", sans-serif;
   line-height: 1.6;
   background-color: #f0f0f0;
   color: #dedede;
}

a {
   font-size: 16px;
   text-decoration: none;
   letter-spacing: 1px;
}

p {
   font-size: 18px;
   letter-spacing: 0.5px;
}

h1 {
   font-family: "Montserrat", sans-serif;
   font-size: 48px;
   line-height: 1.2;
}

h2 {
   font-family: "Montserrat", sans-serif;
   font-size: 36px;
   line-height: 1.2;
}

/* ##### Navbar Styles ##### */

#navbar {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   height: 4rem;
   background-color: #263131;
}

#navbar h2 {
   display: flex;
   align-items: center;
   margin-left: 1rem;
   margin-bottom: 0;
}

#navbar #nav-menu-list {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 0;
   margin-right: 2rem;
   width: 25rem;
   list-style: none;
   font-weight: bold;
   font-size: 18px;
}

#navbar #nav-menu-list li a {
   padding: 0.8rem;
   border-radius: 50px;
   color: #dedede;
   transition: all ease 0.2s;
}

#navbar #nav-menu-list li a:hover {
   background-color: #e3b394;
   color: #181f1f;
}

/* Style the hamburger menu */
#navbar #hamburger {
   display: none;
   width: 5rem;
}
#navbar #hamburger #check,
#navbar #hamburger .checkbtn .fa-xmark {
   display: none;
}

#navbar #hamburger .checkbtn i {
   color: #dedede;
   cursor: pointer;
   font-size: 2.5rem;
}

#navbar #hamburger .nav-mobile {
   display: none;
}

#navbar #hamburger #check:checked ~ .nav-mobile {
   display: block;
}

#navbar #hamburger #check:checked ~ .checkbtn .fa-bars {
   display: none;
}

#navbar #hamburger #check:checked ~ .checkbtn .fa-xmark {
   display: block;
}

/* ##### About Section Styles ##### */

.container {
   margin: 5rem 0;
   overflow: hidden;
}

.container #about-section {
   position: relative;
   height: 51rem;
   left: 6.25rem;
}
.container #about-section #about-img {
   position: absolute;
   background-color: #9d9d9d;
   height: 51rem;
   overflow: hidden;
   padding-left: 3rem;
   border-bottom-left-radius: 100px;
   border-top-left-radius: 20px;
}
.container #about-section #about-img img {
   height: 50rem;
   margin-top: 1rem;
}
.container #about-section #about-text {
   position: absolute;
   border-top-right-radius: 100px;
   border-bottom-right-radius: 20px;
   height: 51rem;
   width: 76.5rem;
   left: 30rem;
   background-color: #263131;
   /* background: linear-gradient(
      90deg,
      rgba(157, 157, 157, 1) 0%,
      rgba(99, 99, 99, 1) 10%,
      rgba(38, 49, 49, 1) 100%
   ); */
   padding: 0 5rem;
}

.container #about-section #about-text h1 {
   margin-top: 10rem;
   margin-bottom: 3rem;
   padding: 1rem 0 1rem 0.5rem;
   color: #263131;
   background: linear-gradient(
      90deg,
      rgba(227, 179, 148, 1) 0%,
      rgba(127, 110, 96, 1) 30%,
      rgba(38, 49, 49, 1) 100%
   );
   border-radius: 10px;
}
.container #about-section #about-text p {
   text-align: justify;
   width: 50rem;
   margin: auto;
   margin-bottom: 0.5rem;
}
.container #about-section #about-text #social-links {
   margin-top: 12rem;
   color: #263131;
   background: linear-gradient(
      90deg,
      rgba(38, 49, 49, 1) 0%,
      rgba(127, 110, 96, 1) 70%,
      rgba(227, 179, 148, 1) 100%
   );
   border-radius: 10px;
}
.container #about-section #about-text #social-links ul {
   list-style: none;
   bottom: 4rem;
   right: 3rem;
   padding: 1rem;
   text-align: right;
}

.container #about-section #about-text #social-links ul li a {
   color: #263131;
}

/* ##### Projects Section Styles ##### */

.container #projects-section {
   margin: 5rem auto;
   padding: 1rem;
   background-color: #263131;
   height: 50rem;
   width: 106.5rem;
   border-top-left-radius: 20px;
   border-top-right-radius: 100px;
   border-bottom-left-radius: 100px;
   border-bottom-right-radius: 20px;
   overflow: hidden;
}

.container #projects-section h1 {
   margin-bottom: 2rem;
   padding: 1rem 0 1rem 1rem;
   color: #263131;
   background: linear-gradient(
      90deg,
      rgba(227, 179, 148, 1) 0%,
      rgba(127, 110, 96, 1) 30%,
      rgba(38, 49, 49, 1) 100%
   );
   border-radius: 4px;
}

.container #projects-container {
   height: 42.4rem;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

.container #projects-container .img {
   margin-top: 7.475rem;
}

.container #projects-container img {
   width: 30rem;
   height: 20rem;
   border-radius: 50px;
   filter: blur(0.15rem);
   transition: filter ease 0.5s;
}

.container #projects-container img:hover {
   filter: blur(0);
}

/* ##### Media Queries ##### */

@media (max-width: 1400px) {
   #navbar h2 {
      font-size: 30px;
   }
}
@media (max-width: 1200px) {
   #navbar h2 {
      font-size: 24px;
   }
}
@media (max-width: 1000px) {
   #navbar h2 {
      font-size: 22px;
   }
   #navbar #nav-menu-list {
      display: none;
   }
   #navbar #hamburger {
      display: block;
   }
   #navbar #hamburger {
      display: block;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   #navbar #hamburger .nav-mobile {
      background: #222831;
      width: 100%;
      position: absolute;
      top: 4rem;
      right: 0;
      text-align: right;
      padding: 1.5rem;
      z-index: 1;
   }
   #navbar #hamburger .nav-mobile a {
      color: #fff;
      display: block;
   }
}
@media (max-width: 500px) {
   #navbar h2 {
      font-size: 18px;
   }
}
@media (max-width: 768px) {
}
